<nav>
    <a href="dashboard.php"><i class="fa fa-home"></i> Dashboard</a>
    <a href="order_processing.php"><i class="fa fa-shopping-cart"></i> Order Processing</a>
    <a href="sales_reports.php"><i class="fa fa-line-chart"></i> Sales Reports</a>
    <a href="customer_management.php"><i class="fa fa-users"></i> Customer Management</a>
    <a href="market_orders.php"><i class="fa fa-shopping-basket"></i> Market Orders</a>
    <a href="demand_forecast.php"><i class="fa fa-line-chart"></i> Demand Forecast</a>
    <a href="price_trends.php"><i class="fa fa-bar-chart"></i> Price Trends</a>
</nav>
