<!-- Global topbar for user switching -->
<div class="topbar">
    <div class="topbar-users">
        <!-- <a href="/dbms_scms/farmer/dashboard.php" class="topbar-user">
            <i class="fa fa-leaf"></i>
            <span>Farmer</span>
        </a> -->
        <a href="/dbms_scms/field_supervisor/dashboard.php" class="topbar-user">
            <i class="fa fa-truck"></i>
            <span>Field Supervisor</span>
        </a>
        <a href="/dbms_scms/quality_officer/dashboard.php" class="topbar-user">
            <i class="fa fa-check-square-o"></i>
            <span>Quality Officer</span>
        </a>
        <a href="/dbms_scms/inventory_manager/dashboard.php" class="topbar-user">
            <i class="fa fa-cubes"></i>
            <span>Inventory</span>
        </a>
        <a href="/dbms_scms/sales_manager/dashboard.php" class="topbar-user">
            <i class="fa fa-shopping-cart"></i>
            <span>Sales</span>
        </a>
        <a href="/dbms_scms/transport_manager/dashboard.php" class="topbar-user">
            <i class="fa fa-car"></i>
            <span>Transport</span>
        </a>
        <a href="/dbms_scms/driver/dashboard.php" class="topbar-user">
            <i class="fa fa-road"></i>
            <span>Driver</span>
        </a>
        <a href="/dbms_scms/super_shop/dashboard.php" class="topbar-user">
            <i class="fa fa-shopping-bag"></i>
            <span>Super Shop</span>
        </a>
        <a href="/dbms_scms/local_market/dashboard.php" class="topbar-user">
            <i class="fa fa-cart-arrow-down"></i>
            <span>Local Market</span>
        </a>
    </div>
</div>
