<!-- Global topbar for user switching -->
<div class="topbar">
    <div class="topbar-users">
        <!-- <a href="/dbms-scms/farmer/dashboard.php" class="topbar-user">
            <i class="fa fa-leaf"></i>
            <span>Farmer</span>
        </a> -->
        <a href="/dbms-scm/field_supervisor/dashboard.php" class="topbar-user">
            <i class="fa fa-truck"></i>
            <span>Field Supervisor</span>
        </a>
        <a href="/dbms-scm/quality_officer/dashboard.php" class="topbar-user">
            <i class="fa fa-check-square-o"></i>
            <span>Quality Officer</span>
        </a>
        <a href="/dbms-scm/inventory_manager/dashboard.php" class="topbar-user">
            <i class="fa fa-cubes"></i>
            <span>Inventory</span>
        </a>
        <a href="/dbms-scm/sales_manager/dashboard.php" class="topbar-user">
            <i class="fa fa-shopping-cart"></i>
            <span>Sales</span>
        </a>
        <a href="/dbms-scm/transport_manager/dashboard.php" class="topbar-user">
            <i class="fa fa-car"></i>
            <span>Transport</span>
        </a>
        <a href="/dbms-scm/driver/dashboard.php" class="topbar-user">
            <i class="fa fa-road"></i>
            <span>Driver</span>
        </a>
        <a href="/dbms-scm/super_shop/dashboard.php" class="topbar-user">
            <i class="fa fa-shopping-bag"></i>
            <span>Super Shop</span>
        </a>
    </div>
</div>
